*{
	box-sizing: border-box;
}

#product-overview {
	background: url(../images/freedom.jpg);
	width: 100%;
	height: 528px; 
	padding: 10px;
}

.section-title{
	color: #2ddf5c;
	text-align:center;
}

.plan{
	background-color: #d5ffdc;
	text-align: center;
	padding: 16px;
	margin:8px;
	display:inline-block;
	width:30%;
	vertical-align:middle;

}

.plan--highlighted{
	background: #19b84c;
	color:white;
	box-shadow:2px 2px 2px 2px rgba(0,0,0,0.5);
	
}


.plan__annotation{
	background:white;
	color:#19b84c;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
	padding:3px;
	border-radius:8px;
}

.plan__annotation ~ .plan--title{
	color:white;
}
.plan--title{
	color:darkgreen;
}

.plan--price{
	color:grey;
}

.plan--features{
	list-style:none;
	
}

.plan__feature{
	list-style:none;
	padding:8px;

}

.plan--selected{
	background:darkgreen;
	color:white;
	font:inherit;
	border-radius:10px;

}
.plan--selected:hover,
.plan--selected:active{
	background:white;
	color:darkgreen;
	font-weight: bold;
}

.key-features__view{
	background:#ff1b68;
	margin-top:54px;
	margin-bottom:54px;
	height:450px;
}

.key-features__view .section-title{
	color:white;
	padding:30px;
}

.key-features{
	list-style:none;
	text-align: center;
}

.key-feature{
	display:inline-block;
	text-align: center;
	width:30%;
	margin: 0;
	padding: 0;
}

.key-feature__image {
	border:2px solid grey;
	width: 128px;
	height: 128px;
	border-radius: 50%;
	margin:0 auto;
}

.key-feature__description{
	font-weight: bold;
	
}
/* .key-feature ~.key-feature__description ::first-letter{
	color:rgba(4, 133, 101, 0.863);
} */

#product-overview h1{
	color: white;
	font-family: 'Anton', sans-serif;
}


.main-header{
	width: 100%;
	background:	#2ddf5c;
	padding: 8px 16px;
}

.main-header > div{
	display: inline-block;
	vertical-align: middle;
}

.main-header__brand {
	color: #0e4f1f;
	text-decoration: none;
	font-weight: bold;
	font-size: 22px;
	vertical-align: middle;

}

.main-nav{
	display: inline-block; 
	text-align: right;
	width: calc(100% - 61px);
}

.main-nav__items{
	margin: 0;
	padding: 0;
	list-style: none;

}

.main-nav__item{
	color: #0e4f1f;
	text-decoration: none;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}

.main-nav__item a{
	color: #0e4f1f;
	text-decoration: none;
	font-weight: bold;
	padding:3px 0;
}


/*.main-nav__items a::after{
	content:" (Link)";
	color:red;
}*/
.main-nav__items a:active,
.main-nav__items a:hover{
	color:white;
	border-bottom:5px solid white;
	
}

.main-nav__item--cta a{
	color:whitesmoke;
	background-color :#ff1b68;
	padding: 8px 16px;
	border-radius:8px;
	
}



p::first-letter {
	color:rgba(4, 133, 101, 0.863);;
	font-size:24px;
}

.main-footer{
	background:black;
	height:72px;
}
.main-footer__items{
	list-style:none;
	text-align: center;

}
.main-footer__item{
	display:inline-block;
	text-decoration:none;
	padding:8px;
}
.main-footer__item a{
	text-decoration:none;
	color:grey;
}
.main-footer__item a:hover,
.main-nav__item a:active{
	color:white;
}